[submodule ".cfg/external/solarc"]
	path = .cfg/external/solarc
	url = https://github.com/schemar/solarc-theme.git
[submodule ".cfg/external/arcicon"]
	path = .cfg/external/arcicon
	url = https://github.com/horst3180/arc-icon-theme.git
[submodule ".cfg/external/i3gaps"]
	path = .cfg/external/i3gaps
	url = https://github.com/Airblader/i3.git
[submodule ".cfg/external/xcbutil"]
	path = .cfg/external/xcbutil
	url = https://github.com/Airblader/xcb-util-xrm.git
