[submodule ".cfg/external/solarc"]
	path = .cfg/external/solarc/solarc-theme
	url = https://github.com/schemar/solarc-theme.git
[submodule ".cfg/external/arcicon"]
	path = .cfg/external/arcicon/arc-icon-theme
	url = https://github.com/horst3180/arc-icon-theme.git
[submodule ".cfg/external/i3gaps"]
	path = .cfg/external/i3gaps/i3
	url = https://github.com/Airblader/i3.git
[submodule ".cfg/external/xcbutil"]
	path = .cfg/external/xcbutil/xcb-util-xrm
	url = https://github.com/Airblader/xcb-util-xrm.git
